header {
  padding: 20px;

  .header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__navbar__bloc-left {
      a {
        img {
          max-width: 210px;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .header__navbar__bloc-right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-inline-start: 0;
      gap: 10px;

      a {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 142.6%;
        text-decoration-line: none;
        color: #FF6060;
      }

      .active {
        text-decoration: underline;
      }

      .link {
        text-decoration: none;
      }

    }
  }
}

@media screen and (min-width: 767px) {
  header {
    padding: 40px 50px;

    .header__navbar {
      .header__navbar__bloc-left {
        a {
          img {
            width: 210px;
            height: 68px;
          }
        }
      }

      .header__navbar__bloc-right {
        gap: 40px;
        a {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 40px 100px;
    .header__navbar{
      .header__navbar__bloc-right {
        gap: 57px;
        a {
          font-size: 24px;
        }
      }
    }

  }
}


